#go-back {
    position: absolute;
    width: 90px;
    top: 150px;
    background-color: #c7d6e7;
    padding: 10px;
    display: flex;
    border-radius: 0 5px 5px 0;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#form {
    display: flex;
    flex-direction: column;
    background-color: #e9f0f7;
    height: 300px;
    width: 500px;
}

#form-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
}

#selection-description {
    width: 300px;
    margin-top: 55px;
    text-align: center;
    padding-bottom: 10px;
}

#next-btn {
    display: flex;
    color: white;
    background-color: #0b355f;
    text-align: center;
    padding: 7px 0 7px 0;
    width: 80px;
    font-size: 15px;
    align-self: flex-end;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color ease-in-out 0.1s;
    margin: 10px 50px 0 0;
}

#next-btn:hover{
    background-color: #1b4876;
    transition: background-color ease-in-out 0.1s;
}

#back-btn {
    display: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    padding: 5px 5px 6px 5px;
    width: 25px;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: #dee6ef;
    line-height: 23px;

    transition: background-color ease-in-out 0.1s;
    margin: 20px 0 0 30px;
}

#back-btn:hover{
    background-color: #d1dbe6;
    transition: background-color ease-in-out 0.1s;
}

#invalidInput {
    height: 25px;
    margin-top: 5px;
}

#invalidText {
    display: none;
    color: rgb(202, 18, 18);
}

#student-amount {
     /* styling */
    background-color: white;
    border: none;
    border-radius: 4px;
    display: flex;
    font: inherit;
    line-height: 1.5em;
    padding: 3px 50px 3px 20px;

    /* reset */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
        linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%),
        linear-gradient(to right, rgb(239, 151, 50), rgb(239, 151, 50));
    background-position:
        calc(100% - 20px) calc(1em - 3px),
        calc(100% - 15px) calc(1em - 3px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

#date-start {
    display: none;
    /* styling */
    background-color: white;
    border: none;
    border-radius: 4px;
    font: inherit;
    line-height: 1.5em;
    padding: 3px 20px 3px 20px;
}

#half-hour-increm {
    display: none;
     /* styling */
     background-color: white;
     border: none;
     border-radius: 4px;
     font: inherit;
     line-height: 1.5em;
     padding: 3px 50px 3px 20px;
 
     /* reset */
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-image:
         linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
         linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%),
         linear-gradient(to right, rgb(239, 151, 50), rgb(239, 151, 50));
     background-position:
         calc(100% - 20px) calc(1em - 3px),
         calc(100% - 15px) calc(1em - 3px),
         100% 0;
     background-size:
         5px 5px,
         5px 5px,
         2.5em 2.5em;
     background-repeat: no-repeat;
}

#time-start {
   display: none;
     /* styling */
     background-color: white;
     border: none;
     border-radius: 4px;
     font: inherit;
     line-height: 1.5em;
     padding: 3px 50px 3px 20px;
 
     /* reset */
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-image:
         linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
         linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%),
         linear-gradient(to right, rgb(239, 151, 50), rgb(239, 151, 50));
     background-position:
         calc(100% - 20px) calc(1em - 3px),
         calc(100% - 15px) calc(1em - 3px),
         100% 0;
     background-size:
         5px 5px,
         5px 5px,
         2.5em 2.5em;
     background-repeat: no-repeat;
}