#go-back {
    position: absolute;
    width: 90px;
    top: 150px;
    background-color: #c7d6e7;
    padding: 10px;
    display: flex;
    border-radius: 0 5px 5px 0;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 150px 0;
}

#form {
    display: flex;
    flex-direction: column;
    background-color: #e9f0f7;
    height: auto;
    width: 90%;
    max-width: 740px;
    padding: 0 0 50px 0;
}

#form-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#selection-description {
    width: 80%;
    margin-top: 55px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

#next-btn {
    display: flex;
    color: white;
    background-color: #0b355f;
    text-align: center;
    padding: 7px 0 7px 0;
    width: 80px;
    font-size: 15px;
    align-self: flex-end;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color ease-in-out 0.1s;
    margin: 10px 50px 0 0;
}

#next-btn:hover{
    background-color: #1b4876;
    transition: background-color ease-in-out 0.1s;
}

#back-btn {
    display: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    padding: 5px 5px 6px 5px;
    width: 25px;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: #dee6ef;
    line-height: 23px;

    transition: background-color ease-in-out 0.1s;
    margin: 20px 0 0 30px;
}

#back-btn:hover{
    background-color: #d1dbe6;
    transition: background-color ease-in-out 0.1s;
}

#invalidInput {
    height: 25px;
    margin-top: 5px;
}

#invalidText {
    display: none;
    color: rgb(202, 18, 18);
}

#student-amount {
     /* styling */
    background-color: white;
    border: none;
    border-radius: 4px;
    display: flex;
    font: inherit;
    line-height: 1.5em;
    padding: 3px 50px 3px 20px;

    /* reset */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
        linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%),
        linear-gradient(to right, rgb(239, 151, 50), rgb(239, 151, 50));
    background-position:
        calc(100% - 20px) calc(1em - 3px),
        calc(100% - 15px) calc(1em - 3px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

#date-selection-table {
    display: none;
    flex-direction: column;
}

#date-start {
    border: none;
    border-radius: 4px;
    font: inherit;
    line-height: 1.5em;
    justify-content: center;
    max-width: 630px;
    flex-direction: column;
}

#arrow-row {
    display: flex;
    flex-direction: row;
    max-width: 695px;
    width: 88%;
    justify-content: space-between;
    align-self: center;
    position: absolute;
    height: 80px;
    align-items: center;
    margin-top: 30px;
}

.arrow {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    cursor: pointer;
    padding: 10px;
    line-height: 10px;
}

#calendar-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    flex-direction: row;
    border-radius: 8px;
    background-color: #e0e5ec;
    justify-content: space-evenly;
    z-index: 2;
}

.calendar-option {
    display: none;
    width: 90px;
    height: 80px;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.25s;
    background-color: rgba(255, 255, 255, 0);
    z-index: 3;
    font-weight: 900;
}

.calendar-option:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.25s;
}

#time-selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    z-index: 1;
}

.time-row {
    display: flex;
    flex-direction: row;
    background-color: #e0e5ec;
    justify-content: space-between;
    padding: 0 40px 0 20px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    z-index: 2;
    border-radius: 8px;
}

#time-slot {
    display: flex;
    font-weight: 900;
    border-radius: 8px;
    padding: 25px 0 25px 20px;
    pointer-events: none;

}

#select-time-btn {
    display: flex;
    width: 100px;
    height: 35px;
    background-color: #527496;
    color: white;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 3px;
    pointer-events: none;
}

#half-hour-increm {
    display: none;
     /* styling */
     background-color: white;
     border: none;
     border-radius: 4px;
     font: inherit;
     line-height: 1.5em;
     padding: 3px 50px 3px 20px;
 
     /* reset */
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-image:
         linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
         linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%),
         linear-gradient(to right, rgb(239, 151, 50), rgb(239, 151, 50));
     background-position:
         calc(100% - 20px) calc(1em - 3px),
         calc(100% - 15px) calc(1em - 3px),
         100% 0;
     background-size:
         5px 5px,
         5px 5px,
         2.5em 2.5em;
     background-repeat: no-repeat;
}

#time-start {
   display: none;
     /* styling */
     background-color: white;
     border: none;
     border-radius: 4px;
     font: inherit;
     line-height: 1.5em;
     padding: 3px 50px 3px 20px;
 
     /* reset */
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-image:
         linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
         linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%),
         linear-gradient(to right, rgb(239, 151, 50), rgb(239, 151, 50));
     background-position:
         calc(100% - 20px) calc(1em - 3px),
         calc(100% - 15px) calc(1em - 3px),
         100% 0;
     background-size:
         5px 5px,
         5px 5px,
         2.5em 2.5em;
     background-repeat: no-repeat;
}

@media (max-width: 755px) {
    #calendar-list {width: 400px;}
}

@media (max-width: 540px) {
    #calendar-list {width: 250px;}
}